<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nu.placebo.whatsuptest"
      android:versionName="0.2.0" android:versionCode="2">
    <uses-sdk android:minSdkVersion="8" />
    <instrumentation android:targetPackage="nu.placebo.whatsup" android:name="android.test.InstrumentationTestRunner" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">

    <uses-library android:name="android.test.runner" />
    </application>
</manifest>